# Build Results
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Environment Variables and Secrets
appsettings.json
appsettings.Development.json
groq.key
.env